{% extends 'base_template.html' %}
{% load static %}
{% block graph %}
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<div class="balance-cont">
<div class="month-selector" >
    <form name="month" action="{% url 'balance' %}" method="post">
        {% csrf_token %}
        <input id="date-input" name="date" type="month">
        <button id="submit-date" class="white-button" type="submit">Hecho</button>
    </form>
</div>
{% if non_exist %}
    <p>No existen registros en la fecha indicada</p>
{% else %}

<div class="board">
    <div class="chart1-cont">
        <canvas id="myChart"></canvas>
    </div>
    <div class="balance-info">
        <h3><span>{{month}} - {{year}}</span></h3>
        <div>
            <span>Presupuestos: <span>{{ cant }}</span></span><br>
            <span>Total a cobrar: <span>${{ total }}</span></span><br>
            <span>Cobrados: <span>${{ adv }}</span>, un {{percent}}% del total.</span></span><br>
            <span>Gastos ingresados: <span>${{ gastos }}</span>.</span><br>
            <span>Ganancia neta:  <span>${{ net }}</span>.</span>
        </div>
        <div class="chart2-cont">
            <canvas id="myChart2"></canvas>
        </div>
    </div>
</div>
</div>
{% endif %}

<div>
    <div class="monthly-summary">
        <div class="title"><h2>{{year}} - Neto Anual $ {{neto_anual}} </h2></div>
        {% for total in monthly_totals %}
        {% with currentMonth=forloop.counter %}
        <div class="month-data">
            <div class="month-details title"><span>Mes</span><span>Proyectos</span><span>Ganancia Neta</span></div>
            <div class="month-details"><span>{{total.month_name}} </span><span> {{total.cant}} </span><span style="font-weight: bold;"> ${{ total.neto }}</span></div>
        {% endwith %}    
        </div>
        {% endfor %}
    </div>
</div>
<!-- charts/templates/chart.html -->

<script>
    
    document.addEventListener('DOMContentLoaded', function () {
        fetch('/chart-data/')
            .then(response => response.json())
            .then(data => {
                if (data && data.labels && data.values && data.chart_type && data.label) {
                    // Circle chart
                const ctx = document.getElementById('myChart').getContext('2d');
                
                new Chart(ctx, {
                    type: data.chart_type,
                    data: {
                        labels: data.labels,
                        datasets: [{
                            label: data.label,
                            data: data.values,
                            backgroundColor: ['#2997D6', '#CB372B', '#2FCA06'],
                            hoverOffset: 4
                        }]
                    },
                   
                });
                const ctxx = document.getElementById('myChart2').getContext('2d');
                // Bar Chart
                new Chart(ctxx, {
                    type: 'bar',
                    data: {
                        labels: data.labels,
                        datasets: [{
                            label: data.label,
                            data: data.values,
                            backgroundColor: ['#2997D6', '#CB372B', '#2FCA06'],
                            hoverOffset: 4
                        }]
                    },
                    options: {
                        responsive: true,
                        maintainAspectRatio: false,
                        plugins: {
                            legend: {
                                position: 'top',
                            },
                            title: {
                                display: true,
                                text: 'Proyectos por mes'
                            }
                        },
                        scales: {
                            y: {
                                beginAtZero: true
                            }
                        }
                    }
                });
                } else {
                    console.error('Incomplete or empty data received.');
                    
                }
                
            });
            
    });
    
    document.getElementById('submit-date').addEventListener('click', () => {
        const dateInput = document.getElementById('date-input');
        if (dateInput.value === ""){
            event.preventDefault();
        };

        

    });
</script>
{% endblock %}