{% extends 'base_template.html' %}
{% load static %}

{% block form %}
    <div class="container-form-client mt-4">
        <h2>Crear un cliente</h2>
        <form method="POST" action="{% url 'clientcreate' %}">
            {% csrf_token %}
            <div class="form-group">
                <label for="name">Nombre</label>
                <input type="text" class="form-control" id="name" name="name" required>
            </div>
            <div class="form-group">
                <label for="phone">Telefono</label>
                <input type="tel" class="form-control" id="phone" name="phone" required>
            </div>
            <button type="submit" class="blue-button">Cargar cliente</button>
        </form>
    </div>

    <style>
        .form-group {
            margin-bottom: 1rem;
            display: flex ;
            flex-flow: column;
        }

        .form-control {
            border-radius: 0.25rem;
            padding: 0.2rem;
            width: 100%;
            border: 1px solid #ced4da;
        }

        .form-control:focus {
            border-color: #80bdff;
            box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
        }

        .container-form-client {
            display: flex;
            flex-flow: column;
            align-items: center;
            color: black;
            background-color: white;
            border-radius: 1rem;
            padding: 2rem;
            box-shadow: 0 0 10px rgba(0,0,0,0.1);
            min-width: 300px;
        }
        .container-form-client form {
            display: flex;
            flex-flow: column;
            align-items: center;
            justify-content: center;
            margin-top: 20px;
        }
        .container-form-client button {
            font-size: 17px;
        }

        .container-form-client label{
            font-size: 15px;
            font-weight: bold;
            margin-bottom: 0.5rem;
            display: block;
        }
        
    </style>
{% endblock %}