{% extends 'base_template.html' %}
{% load static %}
{% block form %}
  <div class="container-form">
    <div class="form-location">
      <form action="" method="POST" enctype="multipart/form-data">
        <h2>Crear un nuevo proyecto</h2>
        {% csrf_token %}

        <div class="form-group">
          <div id="content1">
            <div style="margin: 20px;" class="fields">
              <h4>Proyecto</h4>
              <div style="margin: 10px;" class="input-field">
                <label for="{{ form.type.id_for_label }}">{{ form.type.label }}</label>
                {{ form.type }}
              </div>
              <div style="margin: 10px;" class="input-field">
                <label for="{{ form.mens.id_for_label }}">{{ form.mens.label }}</label>
                {{ form.mens }}
              </div>
              <button type="button" class="blue-button" id="toggleButton1">Siguiente</button>
            </div>
          </div>
          <!-- Datos Cliente y Titular -->
          <div id="content2">
            <div style="width: 100%; align-self: center; display: flex; justify-content: center;">
              <select name="client-list" id="client-list">
                <option value="">Elegir cliente</option>
                {% for Client in clients %}
                  <option value="{{ Client.pk }}">{{ Client.name }}</option>
                {% endfor %}
              </select>
            </div>

            <div style="width: 100%; display: flex; justify-content: center; ">
              <div style="margin: 20px;" class="fields">
                <h4>Datos cliente</h4>
                <div style="margin: 10px;" class="input-field">
                  <label for="client-name">Nombre y apellido</label>
                  <input type="text" name="client-name" id="client-name" />
                </div>
                <div style="margin: 10px;" class="input-field">
                  <label for="client-dni">DNI</label>
                  <input type="number" name="client-dni" id="client-dni" />
                </div>
                <div style="margin: 10px;" class="input-field">
                  <label for="client-phone">Telefono</label>
                  <input type="number" name="client-phone" id="client-phone" />
                </div>
                <div style="margin: 10px; flex-flow: row; justify-content: flex-start; white-space: nowrap;" class="input-field check">
                  <label style="font-weight: bold;" for="client_check">¿Es titular?</label>
                  <input style="width: 50px;" type="checkbox" name="client-titular-checkbox" id="client-titular-checkbox" />
                </div>
              </div>
            </div>
            <!-- Datos Titular -->
             
            <div style="margin: 20px;" class="fields">
              <h4>Datos titular</h4>
              <div style="margin: 10px;" class="input-field">
                <label for="{{ form.titular_name.id_for_label }}">{{ form.titular_name.label }}</label>
                {{ form.titular_name }}
              </div>
              <div style="margin: 10px;" class="input-field">
                <label for="{{ form.titular_dni.id_for_label }}">{{ form.titular_dni.label }}</label>
                {{ form.titular_dni }}
              </div>
              <div style="margin: 10px;" class="input-field">
                <label for="{{ form.titular_phone.id_for_label }}">{{ form.titular_phone.label }}</label>
                {{ form.titular_phone }}
              </div>
            </div>
          </div>
            <button type="button" class="blue-button" id="toggleButton2">Siguiente</button>
            <button type="button" class="blue-button" id="return1">Regresar</button>
          </div>
          <!-- Fin datos cliente y titular -->
        
          <div id="content3">
            <div class="nomen-cont" style="margin: 20px; width: 100%;" class="fields">
              <div style="order: 0;" class="partida">
                <div style="margin: 10px;" class="input-field">
                  <label for="{{ form.partido.id_for_label }}">{{ form.partido.label }}</label>
                  {{ form.partido }}
                </div>
                <div style="margin: 10px;" class="input-field">
                  <label for="{{ form.partida.id_for_label }}">{{ form.partida.label }}</label>
                  {{ form.partida }}
                </div>
                <div style="margin: 10px;" class="input-field">
                  <label for="{{ form.circuns.id_for_label }}">{{ form.circuns.label }}</label>
                  {{ form.circuns }}
                </div>
                <div style="margin: 10px;" class="input-field">
                  <label for="{{ form.seccion.id_for_label }}">{{ form.seccion.label }}</label>
                  {{ form.seccion }}
                </div>
              </div>

              <div style="order: 0;" class="secciones">
                <div  class="input-field">
                  <label for="">Chacra</label>
                  <div class="sub-input">
                    <input name="chacra_num" type="text" placeholder="Numero" maxlength="10" required="" id="id_chacra_num" />
                    <input name="chacra_letra" type="text" placeholder="Letra" maxlength="10" required="" id="id_chacra_letra" />
                  </div>
                </div>
                <div  class="input-field">
                  <label for="">Quinta</label>
                  <div class="sub-input">
                    <input name="quinta_num" type="text" placeholder="Numero" maxlength="10" required="" id="id_quinta_num" />
                    <input name="quinta_letra" type="text" placeholder="Letra" maxlength="10" required="" id="id_quinta_letra" />
                  </div>
                </div>
                <div  class="input-field">
                  <label for="">Fraccion</label>
                  <div class="sub-input">
                    <input name="fraccion_num" type="text" placeholder="Numero" maxlength="10" required="" id="id_fraccion_num" />
                    <input name="fraccion_letra" type="text" placeholder="Letra" maxlength="10" required="" id="id_fraccion_letra" />
                  </div>
                </div>
                <div  class="input-field">
                  <label for="">Manzana</label>
                  <div class="sub-input">
                    <input name="manzana_num" type="text" placeholder="Numero" maxlength="10" required="" id="id_manzana_num" />
                    <input name="manzana_letra" type="text" placeholder="Letra" maxlength="10" required="" id="id_manzana_letra" />
                  </div>
                </div>
                <div  class="input-field">
                    <label for="">Parcela</label>
                    <div class="sub-input">
                      <input name="parcela_num" type="text" placeholder="Numero" maxlength="10" required="" id="id_parcela_num" />
                      <input name="parcela_letra" type="text" placeholder="Letra" maxlength="10" required="" id="id_parcela_letra" />
                    </div>
                  </div>
                </div>
              </div>
              
            </div>
            <div class="container-button">
              <button type="submit" class="blue-button" name="save_and_backhome" class="next-bton">Guardar</button>
              <button type="button" class="blue-button" id="return2">Regresar</button>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>

  <script>
    // Disable the inputs when the select option is changed
    // and enable them when the select option is empty

    const selectElement = document.getElementById('client-list')
    const inputs = ['client-name', 'client-dni', 'client-phone'].map(id => document.getElementById(id));
    selectElement.addEventListener('change', function () {
      inputs.forEach(input => input.disabled = selectElement.value !== '');
    });
  </script>

  <script>
    
    document.getElementById('client-titular-checkbox').addEventListener('change', function () {
      // Obtener los elementos del formulario que deseas anular
      const inputsToCheck = ['id_titular_name', 'id_titular_dni', 'id_titular_phone'].map(id => document.getElementById(id));

      // Otros elementos que desees anular
    
      // Verificar si el checkbox está marcado o desmarcado
      if (this.checked) {
        // Si el checkbox está marcado, deshabilitar los inputs
        inputsToCheck.forEach(input => input.disabled = true);
        // Deshabilitar otros elementos que desees anular
      } else {
        // Si el checkbox está desmarcado, habilitar los inputs
        inputsToCheck.forEach(input => input.disabled = false);
        // Habilitar otros elementos que desees anular
      }
    })
  </script>

  <script>
    // Function to display error messages
    const showError = (field, errorText) => {
      field.classList.add("error");
      const errorElement = document.createElement("small");
      errorElement.classList.add("error-text");
      errorElement.innerText = errorText;
      field.closest(".input-field").appendChild(errorElement);
    }
    const removeError = (field) => {
      if (field.classList.contains("error")) {
        field.classList.remove("error");
        field.closest(".input-field").lastChild.remove();
      }
    };

    
    
    const toggleButton1 = document.getElementById('toggleButton1')
    const toggleButton2 = document.getElementById('toggleButton2')
    const return1 = document.getElementById('return1')
    const return2 = document.getElementById('return2')
    const content1 = document.getElementById('content1')
    const content2 = document.getElementById('content2')
    const content3 = document.getElementById('content3')
    const selectedOption = document.getElementById('id_type')
    selectedOption.addEventListener( 'change', () => {
      if (selectedOption.value !== '') {
        removeError(selectedOption);
      }
    });
    toggleButton1.addEventListener('click', (event) => {
      removeError(selectedOption);
      if (selectedOption.value === '') {
        event.preventDefault();
        showError(selectedOption, "Elegir el tipo de proyecto");
        // Display an error message or provide visual feedback to the user
      } else {
        content1.style.transform = 'translateX(-100%)';
        content2.style.transform = 'translateX(-115%)';
      }
    });
    toggleButton2.addEventListener('click', () => {
      
      const inputsContent2 = content2.querySelectorAll('input');
      let allFilled = true;

      inputsContent2.forEach(input => {
        removeError(input);
        if (input.value.trim() === '') {
          allFilled = false;
          showError(input, "Este campo es obligatorio");
        }
      });

      if (!allFilled) {
        event.preventDefault();
        return;
      }
      content2.style.transform = 'translateX(-230%)'
      content3.style.transform = 'translateX(-315%)'
    })
    return1.addEventListener('click', () => {
      content1.style.transform = 'translateX(0%)'
      content2.style.transform = 'translateX(0%)'
    })
    return2.addEventListener('click', () => {
      content2.style.transform = 'translateX(-115%)'
      content3.style.transform = 'translateX(0%)'
    })
  </script>
  <style>
    input:disabled {
      cursor: default;
      background-color: rgb(182, 178, 178) !important;
      color: rgb(224, 224, 236) !important;
      border-color: rgba(118, 118, 118, 0.3);
    }
    .container-button {
      display: flex;
      flex-flow: row!important;
    }
    form input.error,
    form select.error {
      border-color: #f91919;
      background: #f9f0f1;
    }
    form small {
      font-size: 14px;
      margin-top: 5px;
      display: block;
      color: #f91919;
    }
  </style>
{% endblock %}
