{% extends 'base_template.html' %}
{% load static %}
{% block form %}
  {% for year, months in yearlist.items %}
    {% for month, items in months.items %}
      <div class="history-cont">
        <div class="history-cont-header">
          <p style="margin-right: 10px;">{{ year }}</p>
          <p>{{ month }}</p>
        </div>

        {% for i in items %}
          <div class="history-item">
            {% if i.type == 3 %}
              <span>{{ i.time|date:'d/m/Y' }}</span>
              <span style="padding-left: 4px;">{{ i.msg }}</span>
            {% else %}
              {% if i.link %}
                <a href="{% url 'projectview' pk=i.model_pk %}">
                  <span>{{ i.time|date:'d/m/Y' }}</span>
                  <span>{{ i.msg }}</span>
                </a>
              {% else %}
                <span>{{ i.time|date:'d/m/Y' }}</span>
                <span>{{ i.msg }}</span>
              {% endif %}
            {% endif %}
          </div>
        {% endfor %}
      </div>
    {% endfor %}
  {% endfor %}
{% endblock %}
