{% extends 'base_template.html' %}
{% load static %}
{% block form %}
  <div class="index-container">
    <div class="index-links-cont">
      <div>
        <a href="{% url 'projectslisttype' type='1' %}" class="project-link">Mensuras</a>
      </div>
      <div>
        <a href="{% url 'projectslisttype' type='2' %}" class="project-link">Estados Parcelarios</a>
      </div>
      <div>
        <a href="{% url 'projectslisttype' type='3' %}" class="project-link">Amojonamientos</a>
      </div>
    </div>
  </div>
{% endblock %}
