{% extends 'base_template.html' %}
{% load static %}
{% block form %}
  <div class="cont-project-div">
    

    <div class="project-div">
      <!-- Delete button -->
      <div class="delete-container">
        <form method="post" action="{% url 'delete' pk=project.pk %}">
          {% csrf_token %}
          <button type="submit" class="delete-button" onclick="return confirm('¿Estás seguro que deseas eliminar este proyecto?')">
            Eliminar
          </button>
        </form>
      </div>
      <div>
        
        <div style="display: flex; flex-flow: wrap; align-items: flex-end;"><h1>{{ project.type }}</h1><h4 style="margin-left: 10px; padding-bottom: 6px;">{{project.created|date:"d/m/Y"}}</h4></div>
        
        {% if project.type == "Mensura" %}
          <h3>{{project.mens}}</h3>
        {% endif %}
      </div>
      
      
      {% if not project.titular_name%}
      <div class="fix-show-box" style="" id="client-titular" >
      {% else %}
      <div class="fix-show-box" style="" id="client-titular" >
      {% endif %}
        {% if not project.titular_name %}
        <div style="" class="fix-info-box">
        {% else %}
        <div style="padding-bottom: 10px;" class="fix-info-box">
        {% endif %}
     
          <!-- Datos Cliente -->
            <div style="min-width: 240px;" class="client-box" id="client-data" >
              <h5>Cliente</h5>
              <span>Nombre: {{project.client.name}} </span>
              <span>Telefono: {{project.client.phone}} </span>
              <div style="flex-flow: wrap;">
              {% if not project.titular_name %}
              
                <div style="display: flex; flex-flow: row; justify-content: left;">
                <form method="post" action="{% url 'modification' pk=project.pk %}">
                  {% csrf_token %}
                  <input class="visually-hidden" type="text" name="client-data" />
                  <button style="margin:6px" type="submit" class="blue-button">¿Es titular?</button>
                </form>
                </div>
              {%endif %}
              {% if project.client.flag %}
              {% if not project.contact_name %}
              <div style="display: flex; flex-flow: row; justify-content: left;">
                <button style="margin-top:6px; margin-bottom: 6px;" class="blue-button client-btn">Agregar Contacto</button>
                <form style="display: none;" method="post" action="{% url 'modification' pk=project.pk %}">
                  {% csrf_token %}
                  <div style="flex-flow: column;">
                    <input class="contact-input" required placeholder="Nombre de contacto" type="text" name="contact_name" />
                    <input class="contact-input" required placeholder="Teléfono de contacto" type="tel" name="contact_phone" />
                  </div>
                  
                  <button style="margin-left: 5px;" class="blue-button" type="submit">Hecho</button>
                </form>
              </div>
              {% endif %}
              {% endif %}
            </div>
            </div>
            
            <!-- Datos Titular -->
            <div class="client-box" id="titular-data" >
              <h5>Titular</h5>
              <div style="min-width: 280px; display: flex; flex-flow: row; justify-content: space-between;" >
                <span>Nombre: <span class="client-span1">{{project.titular_name}}</span> </span> 
                {% if project.titular_name %}
                <button class="small-btn blue-button client-btn">Modificar</button>
                {% endif %}
                <form style="display: none;" method="post" action="{% url 'modification' pk=project.pk %}">
                  {% csrf_token %}
                  <input class="titular-input" required placeholder="Nuevo titular" type="text" name="titular" />
                  <button class="blue-button" type="submit">Hecho</button>
                </form>
              </div>
              <div style="min-width: 280px; display: flex; flex-flow: row; justify-content: space-between;" >
                <span> Telefono: <span class="client-span1">{{project.titular_phone}} </span></span>
                {% if project.titular_name %}
                <button class="small-btn blue-button client-btn">Modificar</button>
                {% endif %}
                <form style="display: none;" method="post" action="{% url 'modification' pk=project.pk %}" >
                  {% csrf_token %}
                  <input class="titular-input" required placeholder="Nuevo telefono" type="tel" name="titular_phone" />
                  <button class="blue-button" type="submit">Hecho</button>
                </form>
              </div>
            </div>
            <!-- FIN Datos Titular -->
            <!-- Datos contacto (solo si cliente es fijo) -->
            
            <!-- FIN Datos Contacto -->
        </div>
      </div>
      <div class="show-box" id="nomenclatura" >
        <span class="slide-text">Nomenclatura </span>
        <button class="arrow-button" >
          <img src="{% static 'img/arrow-down-svgrepo-com.svg' %}" alt="down-arrow">
        </button>
        <div class="info-box" id="">
          <div >
            <span>Partido: {{project.partido}}</span>
            <span>Partida: {{project.partida}}</span>
            <span>Circuns.: {{project.circuns}}</span>
            <span>Sección: {{project.seccion}}</span>
          </div>
          <div class="cqfmp" >
            {% with p=project %}
            <div style="flex-flow: column;" >
              <span>Chacra: {{p.chacra_num}} {{p.chacra_letra}} </span>
              <span>Quinta: {{p.quinta_num}} {{p.quinta_letra}}</span>
              <span>Fracción: {{p.fraccion_num}} {{p.fraccion_letra}} </span>
            </div>
            <div style="flex-flow: column;" >
              <span>Manzana: {{p.manzana_num}} {{p.manzana_letra}} </span>
              <span>Parcela: {{p.parcela_num}} {{p.parcela_letra}} </span>
              <span>Subparcela: {{p.subparcela}} </span>
            </div>
            <div style="flex-flow: column;" >
              <span>Dirección: {{p.direction}} </span>
              <span>Piso:{{p.floor}}</span>
              <span>Departamento:{{p.depto}} </span>
            </div>
            
            {% endwith %}
        
          </div>
        </div>
      </div>
      <div class="mini-div">
        
        <span>N° de Tramite: {{ project.procedure }}</span>
        <button class="blue-button modify">Modificar</button>
        <form style="display: none;" method="post" action="{% url 'modification' pk=project.pk %}" id="proc-form">
          {% csrf_token %}
          <input required autocomplete="off" placeholder="N° Tramite" type="number" name="proc" />
          <button class="small-btn blue-button" type="submit">Hecho</button>
        </form>
      </div>

      <div class="mini-div">
        <span>Inscripcion: {{ project.inscription_type }}</span>
        <button class="blue-button modify">Modificar</button>
        <form style="display: none;" method="post" action="{% url 'modification' pk=project.pk %}" id="insctype-form">
          {% csrf_token %}
          <select id="incstype" name="insctype" required>
            <option value="">----------</option>
            <option value="Folio">Folio</option>
            <option value="Matricula">Matricula</option>
          </select>
          <button class="small-btn blue-button" type="submit">Hecho</button>
        </form>
      </div>

      <div class="mini-div">
        <span>Presupuesto: ${{ project.price }}</span>
        <button class="blue-button modify">Modificar</button>
        <form style="display: none;" method="post" action="{% url 'modification' pk=project.pk %}" id="price-form">
          {% csrf_token %}
          <input required placeholder="Presupuesto" type="number" name="price" />
          <button class="small-btn blue-button" type="submit">Hecho</button>
        </form>
      </div>

      <div class="mini-div">
        <span>Adelanto: ${{ project.adv }}</span>
        <button class="blue-button modify">Modificar</button>
        <form style="display: none;" method="post" action="{% url 'modification' pk=project.pk %}" id="adv-form">
          {% csrf_token %}
          <input required placeholder="Nuevo adelanto" type="number" name="adv" />
          <button class="small-btn blue-button" type="submit">Hecho</button>
        </form>
      </div>

      <div class="mini-div">
        <span>Gastos: ${{ project.gasto }}</span>
        <button class="blue-button modify">Modificar</button>
        <form style="display: none;" method="post" action="{% url 'modification' pk=project.pk %}" id="gasto-form">
          {% csrf_token %}
          <input required placeholder="Nuevo gasto" type="number" name="gasto" />
          <button class="small-btn blue-button" type="submit">Hecho</button>
        </form>
      </div>
      <div class="contact-box">
        {% if project.client.flag %}
              {% if project.contact_name %}
                <div >
                  <h3>Contacto</h3>
                  <div style="display: flex; flex-flow: column; justify-content: space-between;" >
                    <span>Nombre: <span class="client-span1">{{project.contact_name}}</span> </span> 
                    <span>Telefono: <span class="client-span1">{{project.contact_phone}}</span> </span> 
                  </div>
                </div>           
              {% endif %}
          {% endif %}
      </div>
      {% if file_url%}
      <div style="display: flex; flex-flow: row;" >
        <button class="blue-button" onclick="window.location.href='{% url "download" pk=project.pk %}'">Archivo</button>
        <button style=
            "background-color: #ff0000;
            color: white;
            border: none;
            padding: 2px;
            border-radius: 5px;
            font-weight: bold;
            cursor: pointer;
            margin-left: 10px;
            " 
            onclick="window.location.href='{% url "deletefile" pk=project.pk %}'">Eliminar</button>
      </div>
      {% else %}
      <div>
        <button class="blue-button modify">Cargar archivo</button>
        <form enctype="multipart/form-data" style="display: none;" method="post" action="{% url 'upload' pk=project.pk %}" id="file-form">
          {% csrf_token %}
          {% for field in form %}
            <label for="id_file_field" id="file-label">Seleccionar</label>
            <input type="file" name="file_field" required="" id="id_file_field">
            <span style="font-size: 15px;" id="file-name"></span>
            <script>

            const fileInput = document.getElementById('id_file_field');
            const fileNameSpan = document.getElementById('file-name');
            if (fileInput && fileNameSpan) {
              fileInput.addEventListener('change', function () {
                if (fileInput.files.length > 0) {
                  fileNameSpan.textContent = fileInput.files[0].name;
                } else {
                  fileNameSpan.textContent = "Ningún cliente seleccionado";
                }
              });
            }
            </script>
          {% endfor %}
          <input class="blue-button" type="submit" value="Guardar">
        </form>
      </div>
      {% endif %}
    </div>
   
      
      
    </div>
    <div class="full-modify-btn-container">

      <button class="blue-button" onclick="window.location.href='{% url 'fullmodification' pk=project.pk %}'" class="full-modify-btn">
        Modificación completa
      </button>
    </div>

    <style>
      .full-modify-btn-container {
        display: flex;
        justify-content: center;
        margin-top: 20px;
        height: 40px;
        width: 80px;
      }
      .full-modify-btn-container button.blue-button {
        padding: 5px;
        font-weight: 700;
      }
      
      

    
    </style>
  </div>

  <style>
    .visually-hidden {
      position: absolute;
      width: 1px;
      height: 1px;
      padding: 0;
      margin: -1px;
      overflow: hidden;
      clip: rect(0, 0, 0, 0);
      border: 0;
    }
    .project-div {
      position: relative;
    }
    .delete-container {
      position: absolute;
      top: 20px;
      right: 20px;
    }
  </style>
  <style>
    .delete-button {
      background-color: #ff0000;
      color: white;
      border: none;
      padding: 10px 20px;
      border-radius: 5px;
      font-weight: bold;
      cursor: pointer;
      margin-bottom: 20px;
      width: 130px;
      height: 40px;
    }
    .delete-button:hover {
      background-color: #cc0000;
      transform: scale(1.05);
      transition: all 0.2s ease;
    }
    .delete-container {
      display: flex;
      justify-content: flex-end;
    }
  </style>
  <style>
     div.info-box div.cqfmp span {
      font-size: small;
     }
    div.info-box div.cqfmp {
      flex-flow: row;
    }
    div.info-box div {
      display: none;
      flex-flow: column;
      margin-top: 0;
    }
    div.contact-box {
      opacity: 1; 
      display: flex; 
      position: relative;
      margin-top: 10px;
      padding-top: 10px;
    }
    div.contact-box::after {
      content: "";
      position: absolute;
      top: 0;
      left: 5%; /* Para centrarlo */
      width: 90%;
      border-top: 1px solid black;
    }

    div.fix-info-box {
      opacity: 1; 
      display: flex; 
      position: relative;
      
    }
    div.fix-info-box::after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 5%; /* Para centrarlo */
      width: 90%;
      border-bottom: 1px solid black;
    }

    div.fix-info-box div {
      display: flex;
      flex-flow: column;
      
    }
    div.info-box {
      display: flex;
      opacity: 0;
      width: 100%;
    }
    div.show-box.marginb100 {
      margin-bottom: 1px;
    }
    .fix-show-box {
      
      width: 100%;
      padding: 0;
      min-width: 400px;
      margin-top: 10px;
      transition: margin-bottom 1s ease;
      display: flex; flex-flow: column;
    }
    .show-box {
      padding: 0;
      
      margin-top: 10px;
      transition: display 0.2s ease;
      display: flex; flex-flow: wrap;
    }
    .show-box button.arrow-button{
      background-color: transparent; border: none; cursor: pointer;
    }
    .show-box button.arrow-button img {
      padding-bottom: 2px;
      height: 25px; 
      width: 30px;
    }
    .show-box span.slide-text {
      margin-right: 10px;
    }
    div.expand {
      background-color: blueviolet;
      transition: 3s;
    }
    div.expand:hover{
      height: 100px;
    }
    .project-div {
      min-width: 650px;
      max-width: 650px;
      padding: 20px;
      background-color: white;
      color: black;
      box-shadow: 2px 2px 10px black;
      border-radius: 10px;
      display: flex;
      flex-flow: column;
    }
    .project-div div.mini-div {
      display: flex;
      flex-flow: row;
      max-height: 20px;
      margin-right: 20px;
      margin-top: 10px;
    }
    .project-div div span {
      margin-right: 20px;
      font-weight: 600;
    }
    input#id_file_field {
      background-color: white;
    }
    input[type="file"] {
      display: none;
    }
    #file-label {
      border: 2px solid black;
      display: flex;
      justify-content: center;
      align-items: center;
      padding-bottom: 2px;
      border-radius: 5px;
      cursor: pointer;
      font-weight: bold;
      width: 100px;
      margin-right: 20px;
      font-size: 12px;
    }
  </style>

  <script>
    
    var buttonArrow = document.querySelectorAll('button.arrow-button');
    
    buttonArrow.forEach(function (button){
      var flag = true;
      button.addEventListener('click', function(){
        var div = button.nextElementSibling; 
        var parentDiv = button.parentNode;
        var divChilds = div.querySelectorAll('*');
        if (flag){
          div.style.transition = 'all 1s ease-in-out';
          div.style.opacity = '1';
          parentDiv.classList.toggle('marginb100');
          divChilds.forEach(function(child){
            console.log(child);
            child.style.display = 'flex';
          });
          flag = false;
        } else {
          div.style.display = 'flex';
          div.style.transition = 'all 0.5s ';
          div.style.opacity = '0';
          divChilds.forEach(function(child){
            console.log(child);
            child.style.display = 'none';
          });
          parentDiv.classList.remove('marginb100');
          flag = true;
        }
      });
    });
    
    var buttons = document.querySelectorAll('button.modify')
    buttons.forEach(function (button) {
      button.addEventListener('click', function (event) {
        event.preventDefault()
        // Hide the button and show the form next to button

        var form = button.nextElementSibling
        if (form && form.tagName === 'FORM') {
          form.style.display = 'flex'
          button.style.display = 'none'
        }
      })
    })
    // Handle client-btn buttons
    const clientButtons = document.querySelectorAll('.client-btn');
    clientButtons.forEach(button => {
      button.addEventListener('click', function(event) {
        event.preventDefault();
        const form = this.nextElementSibling;
        if (form && form.tagName === 'FORM') {
          form.style.display = 'flex';
          button.style.display = 'none';
          // Get the value span and input field
          const valueSpan = button.parentElement.querySelector('.client-span1');
          const input = form.querySelector('.titular-input');
          
          if (valueSpan && input) {
            input.placeholder = valueSpan.textContent.trim();
            valueSpan.style.display = 'none';

          }
        }
      });
    });
    /*const modifyClientButton = document.getElementById('modify-client-button');
    modifyClientButton.addEventListener('click', function(event) {
      event.preventDefault();
      const form = this.nextElementSibling;
      if (form && form.tagName === 'FORM') {
        form.style.display = 'flex';
        modifyClientButton.style.display = 'none'
        console.log(form.querySelector('input').placeholder);
        const inputField = document.getElementById('input-client-name');
        //change inputField placeholder to the current value of the span with class client-span1

        const currentTitular = document.querySelector('.client-span1').textContent;
        inputField.placeholder = currentTitular;
        //get the client-span1 and change its style to display: none
        const clientSpan = document.querySelector('.client-span1');
        clientSpan.style.display = 'none';
      }
    });*/
  </script>
{% endblock %}