{% extends 'base_template.html' %}
{% load static %}
{% block form %}

<div id="galeria-work" class="galeria-work">
  <div style="width: 100%;">
    {% if no_projects %}
      <span style="font-weight: bold;">No se encontraron resultados</span>
    {% else %}
    {% for Project in projects %}
    <div style="max-width: 25%; min-width: 25%;" >
      <a href="{% url 'projectview' pk=Project.pk %}">
        <div class="cont-work">
                <h1>{{Project.type}}</h1>
                <div>
                  <span style="width: 50%;">
                    <h5>Partida: {{Project.partida}}</h5>
                    <h5>Cliente: {{Project.client.name}}</h5>
                    <h5>Fecha: {{Project.created|date:"d/m/Y" }}</h5>
                  </span>
                  <div style="display: flex; justify-content: end; align-items:flex-end; width: 50%;">
                    <h2>{{ Project.pk }} </h2>
                  </div>
                  
                </div>
                
        </div>
        </a>
    </div>
    
    {% endfor %}
    
  </div>    
</div>
{% if pages.num_pages > 1 %}
<div class="pagination-cont" >
  {% for page in pages.page_range %}
   <a href="?page={{page}}">{{page}}</a>
  {% endfor %}
</div>
{% endif %}

{% endif %}
<style>

.pagination-cont a {
  color: rgb(83, 137, 151);
  font-weight: bold;
  font-size: 20px;
  transition: ease .5s;
  margin: 0 3px;
}
.pagination-cont a:hover {
  color: rgb(21, 61, 71);
}
.pagination-cont{
  width: fit-content;
  display: flex; justify-content: center; margin-top: 20px;
  padding: 2px;
  border-radius: 5px;
  background-color: white;
  border: solid 1px black;
}
.galeria-work {
  width: 90%;
  height: 80%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  
}
.galeria-work div {
  display: flex;
  flex-flow: wrap;
  justify-content: start;
}

a {
  text-decoration: none;
  width: 100%;
}
div.cont-work {
  
  height: 200px;
  padding: 20px;
  margin: 0px 20px 20px;
  border: 1px solid black;
  border-radius: 10px;
  background-color: white;
  color: black;
  box-shadow: 2px 2px 10px black;
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  
}
.cont-work h1 {
  text-decoration: none;
}


.textos-work {
  margin-top: 10px;
}


</style>


{% endblock %}
