{% extends 'base_template.html' %}
{% load static %}
{% block form %}

<div id="galeria-work" class="galeria-work">
  <div style="justify-content: left; gap: 20px; width: 100%;">
    {% if no_projects %}
      <span style="font-weight: bold;">No se encontraron resultados</span>
    {% else %}
    {% for Project in projects %}
    <div style="flex: 0 0 calc((100% - 60px) / 4) " >
      <a href="{% url 'projectview' pk=Project.pk %}">
        
        <div {% if Project.closed %} style="background-color:rgb(183, 239, 184);"{% endif %} class="cont-work">
                <h1>{{Project.type}}</h1>
                {% if Project.mens %}
                  <h3>{{Project.mens}}</h3>
                {% endif %}
                
                <div>
                  <span style="width: 80%;">
                    <h5>Partido: {{Project.partido}} </h5> 
                    <h5>Partida: {{Project.partida}}</h5>
                    <h5>Cliente: {{Project.client.name}}</h5>
                    <h5>Dir: {{Project.direction}} {{Project.direction_number}}</h5>
                    <h5>Fecha: {{Project.created|date:"d/m/Y" }}</h5>
                  </span>
                  <div style="display: flex; justify-content: end; align-items:flex-end; width: 20%;">
                    <h2>{{ Project.pk }} </h2>
                  </div>
                  
                </div>
                
        </div>
      </a>
    </div>
    {% endfor %}
  
  </div>    
</div>
{% if pages.num_pages > 1 %}
<div class="pagination-cont" >
  {% for page in pages.page_range %}
   <a href="?page={{page}}">{{page}}</a>
  {% endfor %}
</div>
{% endif %}

{% endif %}



{% endblock %}
